:root {
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 560px 200px;
}

header {
    position: sticky;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

h1 {
    grid-column: 1;
}

.parag {
    grid-column: 1;
}

.author {
    grid-column: 1;
}

.photo {
    grid-column: 1;
}
figcaption {
    font-weight: bold;
    grid-column: 1;
}

.para {
    text-align: left;
    grid-column: 1;
}

.ad {
    grid-column: 2;
}
