:root {
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
}

header {
    position: sticky;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start, center, flex-end;
    height: 40px;
}
